layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
            pane size="60%"
            pane split_direction="horizontal" {
                pane
                lazy_dev {}
                lazy_storybook {}
            }
        }
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
    tab {
        pane split_direction="vertical" {
            pane size="60%"
            pane split_direction="horizontal" {
                pane
                lazy_dev {}
                lazy_storybook {}
            }
        }
    }
    pane_template name="lazy_dev" command="zellij-ni" start_suspended=true {
        args "dev"
    }
    pane_template name="lazy_storybook" command="zellij-ni" start_suspended=true {
        args "storybook"
    }
}
